@import url(https://fonts.googleapis.com/css?family=Carter+One)

$appFont: 'Carter One'

//breakpoints
$minDesktop: 1024px
$maxIpad: 1024px
$minIpad: 736px
$maxPhone: 736px

// desktop styles
@media (min-width: $minDesktop)
  @import desktop

// ipad styles
@media (min-width: $minIpad) and (max-width: $maxIpad)
  @import tablet

// mobile styles
@media (max-width: $maxPhone)
  @import mobile
